<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>提货卡平台</title>
 <%= stylesheet_link_tag 'bootstrap.min' %>
</head>
<body>
  <section class="container">
    <%= yield %>  
  </seciton>
   <%= javascript_include_tag "bootstrap.bundle.min" %>
</body>
</html>